body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #08001f, #197d7a);
  color: #fff;
  font-family: Arial, sans-serif;
}

.clock {
  font-size: 60px;
  color: #00ffcc;
  background: #000;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px #00ffcc;
  letter-spacing: 3px;
}



